# Based on https://raw.githubusercontent.com/github/gitignore/main/Node.gitignore

# Logs

logs
_.log
.pnpm-debug.log*

# Compiled binary addons (https://nodejs.org/api/addons.html)

build/Release

# Dependency directories

node_modules/

# dotenv environment variable files

.env
.env.development
.env.test.local
.env.production

onpholio-requests
dist